<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

    <int:channel id="stringOutChannel"/>

    <int:chain input-channel="randomGenInChannel"
               output-channel="stringOutChannel">
        <int:header-enricher>
            <int:header name="headerName" value="3" overwrite="true"/>
        </int:header-enricher>
        <int:transformer expression="T(java.lang.Integer).valueOf(payload)"/>
        <int:service-activator ref="soutBean"/>
        <int:header-filter header-names="headerName,anotherHeader"/>
    </int:chain>

</beans>